<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
></script>

<div id="fullscreen_bg" class="fullscreen_bg"></div>
<link href="css/home.css" rel="stylesheet" type="text/css" />
<script src="js/home-scripts.js" type="text/javascript"></script>
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
        <ul class="list-group">
          <a href="#" class="list-group-item active">
            <br /><br /><i class="glyphicon glyphicon-home"></i>
            Home<br /><br />
          </a>
          <a href="#" class="list-group-item">
            <br /><br /><h4 class="glyphicon glyphicon-file"></h4>
            Information<br /><br />
          </a>
          <a href="#" class="list-group-item">
            <br /><br /><h4 class="glyphicon glyphicon-wrench"></h4>
            Edit My Information<br /><br />
          </a>
          <a href="#" class="list-group-item">
            <br /><br /><h4 class="glyphicon glyphicon-edit"></h4>
            Change Password<br /><br />
          </a>
          <a href="#" class="list-group-item">
            <br /><br /><i class="glyphicon glyphicon-log-out"></i>
            Other functions<br /><br />
          </a>
        </ul>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <!-- flight section -->
        <div class="bhoechie-tab-content active">
          <center>
            <h1
              class="glyphicon glyphicon-user"
              style="font-size:14em;color:#00001a"
            ></h1>
            <h2 style="margin-top: 0;color:#00001a">Welcome</h2>
            <h3 style="margin-top: 0;color:#00001a">{{data.name}}</h3>
          </center>
        </div>
        <div class="bhoechie-tab-content">
          <h5>My Information</h5>
          <p>{{data.name}}</p>
          <h4>Email</h4>
          <p>{{data.email}}</p>
          <h4>Username</h4>
          <p>{{data.username}}</p>
        </div>
        <div class="bhoechie-tab-content" style="overflow: scroll;">
          <form class="form-horizontal" method="post" action="/update-info">
            <h5>Edit My Information</h5>
            {{#if message}}
              <div class="alert {{messageClass}}" role="alert">
                {{message}}
              </div>
            {{/if}}
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Enter your Name"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter your Email"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label
                for="username"
                class="cols-sm-2 control-label"
              >Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="Enter your Username"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                type="submit"
                name="submit"
                class="btn btn-primary btn-block login-button"
                value="Save"
                style="width: 85%"
              />
            </div>
          </form>
        </div>
        <div class="bhoechie-tab-content">
          <form class="form-horizontal" method="post" action="/update-password">
            <h5>Change Password</h5>
            {{#if message}}
              <div class="alert {{messageClass}}" role="alert">
                {{message}}
              </div>
            {{/if}}
            <div class="form-group">
              <label for="oldpass" class="cols-sm-2 control-label">Old Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="oldpass"
                    id="oldpass"
                    placeholder="Enter here"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="newpass" class="cols-sm-2 control-label">New Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="newpass"
                    id="newpass"
                    placeholder="Enter here"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmpass" class="cols-sm-2 control-label">Confirm
                Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="confirmpass"
                    id="confirmpass"
                    placeholder="Enter here"
                    style="margin-left: 10px; width: 80%;"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                type="submit"
                name="submit"
                class="btn btn-primary btn-block login-button"
                value="Save"
                style="width: 85%"
              />
            </div>
          </form>
        </div>
        <div class="bhoechie-tab-content">
          <center>
            <h2><a
                href="/logout"
                class="btn btn-sm btn-danger btn-block"
                role="button"
              ><i class="glyphicon glyphicon-log-out"></i>
                Logout</a></h2>
            <h2><a
                href="/delete"
                class="btn btn-sm btn-danger btn-block"
                role="button"
              ><i class="glyphicon glyphicon-remove"></i>
                Delete this account</a></h2>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>